/* Main Elements */
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: monospace;
}

/* #pageContainer {} */

header, footer {
    /* height: 5rem; */
    padding: 10px;
    /* overflow: hidden; */
    text-align: center;
    color: white;
    background: black;
}

/* main {} */

.element {
    padding: 5px;
    border-radius: 0 0 25px 25px;
    background: rgba(100, 100, 100, 0.5);
}

/* Split Columns */
.column {
    float: left;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

/* section {} */

aside {
    width: 25%;
    padding: 5px;
    font-style: italic;
    background-color: lightgray;
}

/* Headers */
#Title {
    font-weight: bold;
    color: darkred;
}

h3 {
    font-weight: bold;
    color: lightskyblue;
}

/* Lists */
aside ul {
    list-style: none;
}

ul {
    font-family: Helvetica, sans-serif;
    padding-inline-start: 25px;
}

.item {
    list-style: circle;
}