/* Default Element Style */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

header, footer {
    text-align: center;
    padding: 15px;
    color: #fff;
    background: #000;
}

main {
    padding: 10px;
}

/* Enigma Machine Style */
figure {
    display: flex;
    padding: 10px 0px;
    margin: 0;
}

table {
    text-align: center;
    border: 1px solid black;
}

td {
    padding: 10px;
    border: 2px solid black;
}

/* Removing Edge Borders */
td:first-child {
    border-left: 0;
}
td:last-child {
    border-right: 0;
}
tr:first-child td {
    border-top: 0;
}
tr:last-child td {
    border-bottom: 0;
}

#OutputField {
    display: flex;
}

/* Javascript Added Styles */
.cell {
    background: #999;
}
.outputDiv {
    margin: 10px;
    padding: 10px;
    background: #aaa;
    border: black solid;
}