.blink-image {
    /* Firefox */
    -moz-animation: blink normal 2s infinite ease-in-out;
    /* Webkit */
    -webkit-animation: blink normal 2s infinite ease-in-out;
    /* IE */
    -ms-animation: blink normal 2s infinite ease-in-out;
    /* Opera and prob css3 final iteration */
    animation: blink normal 2s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/* IE */
@-ms-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}