*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}
header, footer {
    padding: 15px;
    overflow: hidden;
    text-align: center;
    color: white;
    background: black;
}

.column {
    float: left;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

section {
    width: 75%;
}

aside {
    width: 25%;
    padding: 5px;
    font-style: italic;
    background-color: lightgray;
}

#gameBoard {
    padding: 10px;
    background-color: aqua;
}