
/* Navigation */
.topNav .first, .topNav .second, .topNav .third {
    width: 15px;
    border: 1px solid white;
    margin: 2px 2px 2px 3px;
}

.topNav .first {
    top: 25px;
}
.topNav .second {
    top: 45px;
}
.topNav .third {
    top: 65px;
}

/* #hamburgerBtn {
    display: none;
}

#hamburgerBtn:checked + #mainMenu {
    display: block;
} */

.topNav ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    position: relative;
    display: none;
}

.topNav ul > li {
    /* display: inline-block; */
    vertical-align: top;
}

.topNav ul > li > ul {
    display: none;
    position: absolute;
}

.topNav ul > li:hover > ul {
    display: block;
    width: 80%;
    margin: 0% 10%;
    border: 1px solid white;
    border-top: none;
    /* position: relative; */
}

.topNav a, 
.topNav label,
#hamburgerMenu,
#themeMenu {
    display: block;
    padding: 14px 16px;

    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    background: black;
    /* border: 1px solid white; */
}

.topNav a:hover, 
.topNav label:hover,
#hamburgerMenu:hover {
    color: black;
    background: white;
    cursor: pointer;

}

#hamburgerMenu:hover span {
    border: 1px solid black;
}


/* Theme switch */
.lightTheme {
    background-color: #ddd;
    color: black;
}

.darkTheme {
    background-color: black;
    color: lightcyan;
}